/localazy/
/xliff/
/node_modules/
/public/assets/css/
!/public/assets/css/main.css
!/public/assets/css/.gitkeep
/public/assets/js/
!/public/assets/js/lib/*
!/public/assets/js/polyfills/navigationPolyfill.js
!/public/assets/js/polyfills/viewTransitionPolyfill.js
/public/assets/svg/
/public/service-worker.js
app-files.js
/dist
.vscode
.idea
*.iml
.azure
/public/assets/pds/
/.gitlab-ci-local
/.gitlab-ci-local-variables.yml
/localazy.keys.json
/app-files.js

.env
Thumbs.db

*.d.ts
build-meta.json
yarn.lock
/public/exports/
public/readme.md
